<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="easybangumi.extension" android:required="true"/>
    <application
            android:allowBackup="true"
            android:label="EasyBangumi: 咕咕番"
            android:icon="@mipmap/gugufan"
            android:supportsRtl="true">

        <meta-data
            android:name="easybangumi.extension.readme"
            android:value="纯纯看番扩展 Gugufan"/>
        <meta-data
            android:name="easybangumi.extension.lib.version"
            android:value="7"/>
        <meta-data
            android:name="easybangumi.extension.source"
            android:value="top.phj233.easybangumi_extension_gugufan.GuguFanFactory"/>

        <activity android:name="com.heyanle.extension_api.NoneActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ANSWER" />
                <data android:host="com.heyanle.easybangumi"
                      android:scheme="source"/>
            </intent-filter>

        </activity>
    </application>
    <queries>
        <package android:name="com.heyanle.easybangumi"/>
    </queries>

</manifest>
